#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap{
        compatible = "zmk,keymap";

        default_layer{
            bindings = <
                &kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O   &kp P
                &kp LSHFT  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L   &kp BKSP
                &kp LCTRL    &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &lt 1 SPACE  &kp ENTER
            >; 
        };
    };
};
